.container {
  width: 25%;
  margin: 8% auto;
}

button {
  width: 25%;
  height: 65px;
  cursor: pointer;
  border-radius: 0;
  border: 0.1px solid #d1d8dd;
}

.wide-button {
  width: 50%;
}

.display {
  height: 65px;
  background-color: gray;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-right: 5px;
}

.orange {
  background-color: orange;
}
